mysql-connector-python==8.3.0
Pyrogram==2.0.106
python-dotenv==1.0.1
pytube==15.0.0
requests==2.31.0
selenium==4.18.1
selenium-stealth==1.0.6
TgCrypto==1.2.5
webdriver-manager==4.0.1
instagrapi==2.0.3
Pillow
